body {
    background-image: url('bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
}
footer {
    font-family: helvetica, arial;
    color: white;
    background: rgba(51, 51, 51, 0.70);
    width: 100%;
    margin: 0px auto;
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 50px;
    line-height: 47px;
    text-align: center;
}
.body-container {
    min-height:500px;
}